*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 210%;
    width: 150%;
}
#r1,#r2{
    flex-direction: column;
}
#r1 div,#r2 div{
    height: 350px;
    width: 450px;
}
#nav{
    flex-direction: column;   
}
#feedback{
    right: 100%;
    width: 75px;
    font-size: 0.8rem;
}
#about a{
    margin-top: 100px;
}
#about p{
    font-size: 0.3rem;
    color: blue;
}
#call p{
    padding-top:45px;
}
.modal {
    margin: auto;
    position:fixed;
    height: 150%;
}
#type_effect {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(15) infinite alternate,
        blink 800ms steps(15) infinite normal;
    border-right: 2px solid black;
}
@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 72%;
    }
}

@keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }

    to {
        border-color: transparent;
    }
}
