*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 210%;
    width: 150%;
}
#r1,#r2{
    flex-direction: column;
}
#r1 div,#r2 div{
    height: 250px;
    width: 450px;
}
#nav{
    flex-direction: column;   
}
#feedback{
    right: 100%;
}
#about a{
    margin-top: 45px;
}